# Node dependencies
node_modules/

# Environment variables
.env

# Excel data
data/
Evidence/
output/

# Playwright test results and reports
test-results/
playwright-report/
Reports/
blob-report/

# Mac system files
.DS_Store



Reports/
